{% block content %}
<div class="row">
  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Usuarios registrados</h5>
        <p class="card-text fs-3">123</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Entrenadores activos</h5>
        <p class="card-text fs-3">45</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-4 mb-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Gimnasios registrados</h5>
        <p class="card-text fs-3">12</p>
      </div>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-12">
    <div class="card shadow-sm">
      <div class="card-body">
        <h5 class="card-title">Últimos registros</h5>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Nuevo usuario: Juan Pérez</li>
          <li class="list-group-item">Nuevo gimnasio: FitZone</li>
          <li class="list-group-item">Nuevo entrenador: Laura Sánchez</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}
